@import "tailwindcss";

@theme {
  --font-artistic: "Dancing Script", cursive;
  --color-heather: #877499;
  --color-sandstone: #E6D4BF;
  --color-peachcream: #FFE8D6;
  --color-palepink: #F4F6F5;
  --color-vintagecream: #E6D8C1;
  --color-almondcream: #F2EBDD;
  --color-porcelainmist: #F4F1EA;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.6s ease-out forwards;
}


/* This hides the scrollbar while still allowing scrolling on touch devices */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}